.aula-cuadro {
    background-color: var(--card-bg-color);
    border: 1px solid var(--card-border-color);
    border-radius: 20px;
    min-width: 300px;
    min-height: 250px;
}

.aula-nombre {
    font-size: 24pt;
    font-weight: bold;
}

.aula-libre {
    background-color: var(--success-bg-color);
}

.aula-ocupada {
    background-color: var(--destructive-bg-color);
}

.news-image {
    border-radius: 12px;
}
