.classroom-card {
    background-color: var(--card-bg-color);
    border: 1px solid var(--card-border-color);
    border-radius: 20px;
    min-width: 200px;
    min-height: 170px;
}

.news-hidden .classroom-card {
    min-width: 300px;
    min-height: 255px;
}

.classroom-name {
    font-size: 24pt;
    font-weight: bold;
}

.classroom-available {
    background-color: var(--success-bg-color);
}

.classroom-occupied {
    background-color: var(--destructive-bg-color);
}

.news-image {
    border-radius: 12px;
}

.classroom-card .btn-hover {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.classroom-card:hover .btn-hover {
    opacity: 1;
}
